.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 10px;
  font-size: 30px;
}
.header-chart {
  padding: 10px;
}
.header-favourites {
  padding: 10px;
}/*# sourceMappingURL=Header.css.map */