.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

.product-image {
  width: 100%;
}
.product-container {
  padding: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.image-container {
  width: 50%;
  display: inline-block;
}/*# sourceMappingURL=ProductList.css.map */