label{
    color: #000000;
    text-align: left;
    font-size: 16px;
  }
  
  .form-input-error {
    font-size: 12px;
    color: #FF0000;
  }
  .form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(191, 240, 255, 0.8);
  }
  .container-for-form{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
  }
  .formik-container{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .button-submit{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px;
  }
  .button-container{
    padding: 5px;
  }
  