.button {
  border: 1px solid #000000;
  cursor: pointer;
  background-color: transparent;
  color: #FF0000;
  font-size: 20px;
}
.button-star {
  border: transparent;
  color: #000000;
}
.button-star-clicked {
  color: #04ff00;
}
.button-star:hover {
  color: #FF0000;
}
.button-arrow {
  color: #FFFFFF;
  border: transparent;
}
.button-action {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  border: transparent;
  padding: 5px;
  width: 80px;
}
.button-add-to-chart {
  border: transparent;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.button-add-to-chart:hover {
  background-color: #FF0000;
}/*# sourceMappingURL=Button.css.map */